@font-face {
    font-family: "Noto Sans";
    src: url('/fonts/NotoSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url('/fonts/NotoSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Noto Sans";
    src: url('/fonts/NotoSans-Light.ttf');
    font-weight: 200;
}

html, body {
    width: 100%;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
}

img {
    max-width: 100%;
}

section {
    display: block;
    padding: 60px 0;
}

.maskot {
    width: 200px;
    max-width: 75%;
    padding: 10px;
}

.logo {
    width: 500px;
    max-width: 90%;
    padding: 20px 0;
}

li {
    padding: 0.6rem 0;
}

footer {
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
    font-weight: 200;
    color: #FF5C00;
}

.github {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}

.github:hover {
    color: #FF5C00;
}

.github img {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.5rem;
}
