@font-face {
    font-family: "Noto Sans";
    src: url('/fonts/NotoSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url('/fonts/NotoSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Noto Sans";
    src: url('/fonts/NotoSans-Light.ttf');
    font-weight: 200;
}

html, body {
    width: 100%;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
    font-weight: bold;
}

img {
    max-width: 100%;
}

section {
    padding: 60px 0;
}

.maskot {
    width: 200px;
    max-width: 75%;
    padding: 10px;
}

.logo {
    width: 500px;
    max-width: 90%;
    padding: 20px 0;
}

li {
    padding: 0.6rem 0;
    word-break: break-word;
}

table {
    font-size: 0.9rem;
}

table .description {
    min-width: 300px;
}

footer {
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
    font-weight: 200;
    color: #FF5C00;
}

.social-link {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
}

.social-link:hover {
    color: #FF5C00;
}

.social-link img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    filter: grayscale(1);
}

.social-link:hover img {
    filter: grayscale(0);
}

.code-field {
    display: inline-flex;
    background: #EDEDED;
    padding: 12px 30px;
    border-radius: 8px;
    margin: 10px 0;
}

.code-field::before {
    content: '$';
    margin-right: 0.5rem;
}
